@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.Checkout.Models.CheckoutViewModel
@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

<div class="container-fluid" id="CheckoutView">

    @using (Html.BeginForm("Index", "Checkout", FormMethod.Get, new { id = "CheckoutViewRefreshForm" })) { }

    <div class="row section-box checkout jsCheckout">
        <div class="col-xs-12">
            <h2>@Html.PropertyFor(x => x.CurrentPage.Name)</h2>
        </div>
    </div>
    <div class="row section-box">
        <div class="col-xs-12">
            @{ Html.RenderAction("LargeCart", "Cart"); }
        </div>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var item in ViewData.ModelState)
            {
                foreach (var error in item.Value.Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            }
        </div>
    }

    @using (Html.BeginForm("Purchase", "Checkout", FormMethod.Post, new { @class = "jsCheckoutForm", @data_UpdateUrl = Url.Action("Update", null, null) }))
    {
        <div class="row section-box">
            <div class="col-xs-12">
                @{ Html.RenderPartial("Address", Model); }
            </div>
        </div>
        <div class="row section-box">
            <div class="col-xs-12">
                <h4>@Html.Translate("/Checkout/Payment/Heading")</h4>

                @{ Html.RenderPartial("Payment", Model); }
            </div>
        </div>
        <div class="row section-box">
            <div class="col-xs-12">@{ Html.RenderAction("OrderSummary"); }
                <button role="button" onclick="window.location.href='@Model.ReferrerUrl'" class="btn btn-default btn--blue"><i class="glyphicon glyphicon-arrow-left"></i> @Html.Translate("/Checkout/Continue/Button")</button>
                <button type="submit" class="btn btn-primary btn--blue pull-right">@Html.Translate("/Checkout/PlaceOrder")</button>
            </div>
        </div>
                    }
</div>